*{
    scroll-behavior: smooth;
}

.bg-gray-900\/50{
    background-color:rgba(255, 255, 255, 0) !important;
}

// #hero-section{
// //     background: #acb6e5 !important; /* fallback for old browsers */
// //   background: -webkit-linear-gradient(to right, #acb6e5, #86fde8) !important; /* Chrome 10-25, Safari 5.1-6 */
// //   background: linear-gradient(to right, #acb6e5, #86fde8) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% ) !important;
// }

main{
    // background-image: url('../images/background-image.jpg') !important;
    background-image: url('../images/about-background.jpg') !important;

    background-size: cover;
}
#about-us{
    background-image: url('../images/about-background.jpg') !important;
    background-size: cover;
}
#last-section{
    background-image: url('../images/bg-last-1.jpg') !important;
    background-size: cover;
}

.sidebar-ctm{
    width: 300px !important;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 1000;
    height: 100vh !important;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.active-ctm{
    left: 0 !important;
    transition: all 0.3s ease-in-out;
}

.image-box {
    position: relative;
    overflow: hidden;
  }
  
  .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: all 0.9s ease-in-out;

  }
  
  .image-box img:hover {
    transform: translateY(-50%);
    transition: all 0.9s ease-in-out ;
  }
  